 @keyframes scrollright {
    to{
        right: -320px;
    }
 }

.test-wrapper{
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0));
}

.testimonial{
    animation-name: scrollright;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.test1{
    animation-delay: calc(50s / 5 * (5 - 1) * -1);
}
.test2{
    animation-delay: calc(50s / 5 * (5 - 2) * -1);
}
.test3{
    animation-delay: calc(50s / 5 * (5 - 3) * -1);
}
.test4{
    animation-delay: calc(50s / 5 * (5 - 4) * -1);
}
.test5{
    animation-delay: calc(50s / 5 * (5 - 5) * -1);
}


